* {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.profile-body {
	margin: 0;
	max-width: 992px;
	margin: 0 auto;
	position: relative;
	background: rgb(20, 19, 19);
	background: linear-gradient(
		90deg,
		rgb(27, 26, 26) 0%,
		rgba(23, 27, 31, 1) 36%,
		rgba(42, 48, 54, 1) 56%,
		rgba(51, 58, 65, 1) 81%,
		rgba(61, 61, 61, 1) 100%
	);
}

.profile-header {
	background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
	background-image: linear-gradient(
		65.9deg,
		rgba(85, 228, 224, 1) 5.5%,
		rgba(75, 68, 224, 0.74) 54.2%,
		rgba(64, 198, 238, 1) 55.2%,
		rgb(70, 36, 224) 98.4%
	);
	font-family: "Carter One", cursive, Helvetica;
	color: whitesmoke;
	text-shadow: 1px 1px 4px rgb(27, 26, 26);
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
	font-size: 1.5rem;
}

.profile-header h1 {
	margin: 1.5rem;
}

.profile_photo {
	border-radius: 10px;
	position: absolute;
	left: 68%;
	top: 4%;
}

.profile_photo img {
	height: 400px;
	max-width: 280px;
	filter: drop-shadow(4px 4px 5px rgb(27, 26, 26));
}

.details {
	font-family: "Philosopher", sans-serif;
	margin: 1rem;
	color: wheat;
	padding-top: 1rem;
}

.title {
	padding: 1rem;
}

.title h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

.links_list {
	padding: 1rem;
	font-size: 1.2rem;
}

.links_list ul {
	margin-left: 2.5rem;
}

.links_list li {
	margin-bottom: 0.5rem;
}

.links_list a {
	color: rgb(237, 239, 109);
}

.links_list a:hover {
	color: rgb(82, 170, 228);
}

.profile-footer {
	display: flex;
	flex-direction: column;
	background-color: #74ebd5;
	background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
	margin: 1rem;
	padding: 0.6rem;
	border-radius: 5px;
	color: rgb(29, 43, 113);
	font-size: 20px;
}

.profile-footer a {
	color: #ff3e55;
}

.contact_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	max-width: 35rem;
}

.contact_info p {
	margin-bottom: 0.5rem;
}

.contact_info p:nth-child(2) {
	color: rgb(114, 55, 216);
}

@media screen and (max-width: 950px) {
	.profile_photo {
		position: initial;
		margin-top: 1rem;
		padding: 2rem;
		padding-bottom: 0;
	}

	.profile_photo img {
		max-width: 100%;
		max-height: 100%;
	}

	.contact_info {
		max-width: inherit;
	}
}

@media screen and (max-width: 550px) {
	.contact_info p {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.profile_photo img {
		max-width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 330px) {
	.profile-header h1 {
		font-size: 2rem;
	}

	.profile_photo img {
		height: auto;
		margin: 0 auto;
	}
}

/* ******************** DESIGN PRINCIPLES STYLES ************************* */

/* *************** DESIGN PRINCIPLES PALLETE***************** */

:root {
	--first-color: hsl(224, 19%, 27%);
	--second-color: hsl(256, 9%, 32%);
	--third-color: hsl(240, 100%, 97%);
	--fourth-color: hsl(205, 58%, 52%);
	--fifth-color: hsl(12, 83%, 62%);
	--sixth-color: hsl(39, 100%, 63%);

	--body-font: "Roboto Slab", serif;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	--shadow: 1px 1px 4px rgb(27, 26, 26);
}

.design-body {
	font-family: var(--body-font);
	/* max-width: 1000px; */
	margin: 0 auto;
}
.design-header {
	background-color: var(--first-color);
	color: var(--third-color);
	font-family: var(--body-font);
	font-size: 1.5rem;
	/* margin: 1rem; */
	text-align: center;
	text-shadow: var(--shadow);
	padding: 1rem;
}

.design-header h2 {
	color: var(--fifth-color);
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.design-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin: 3rem auto;
	padding: 2rem;
}

.design-card {
	border: 1px solid #ccc;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.design-title {
	background-color: var(--fourth-color);
	padding: 1rem;
	color: var(--third-color);
	text-align: center;

	text-shadow: var(--shadow);
	font-size: 1.3rem;
}

.design-description {
	text-align: center;
	padding: 1rem;
}

.design-description p {
	color: var(--second-color);
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.design-description a {
	color: var(--fifth-color);
}

.design-description a:hover {
	color: var(--fourth-color);
}

.design-text {
	color: var(--first-color);
	background-color: rgb(228, 227, 227);
	height: 100%;
	padding: 1rem;
	text-align: justify;
}

.design-footer {
	background-color: var(--first-color);
	color: var(--third-color);
	font-size: 1.3rem;
	padding: 2rem;
	text-align: center;
}

.design_info a {
	color: var(--fourth-color);
}

.design_info a:hover {
	color: var(--fifth-color);
}

.design_info p:nth-child(1) {
	margin-bottom: 1rem;
}

.design_info p:nth-child(2) {
	color: var(--sixth-color);
}

@media screen and (max-width: 1055px) {
	.design-description a {
		font-size: small;
	}
}

@media screen and (max-width: 945px) {
	.design-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.design-description a {
		font-size: large;
	}
}

@media screen and (max-width: 786px) {
	.design-container {
		display: block;
	}

	.design-card {
		margin-bottom: 2.5rem;
	}
}

@media screen and (max-width: 320px) {
	.design_info a {
		font-size: 17.5px;
	}
}
