/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
	.container {
		max-width: 990px;
		margin: 0 auto;
	}

	/* ****** PHOTO GALLERY CONTAINER ***** */

	.gallery-container {
		grid-template-columns: repeat(3, 300px);
		justify-content: center;
	}

	.gallery-photo {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.gallery-photo:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		transform: scale(0.9);
		opacity: 0.8;
	}
	/* ****** END PHOTO GALLERY CONTAINER ***** */

	/* ****** FORM STYLES ***** */

	form {
		font-size: 1.2rem;
	}
	form label.danger {
		padding: 0.4rem 0;
	}
	/* ****** END FORM STYLES ***** */
} /*end large */
