.gallery-container {
	display: flex;
	flex-direction: column;
}

.gallery-photo {
	margin: 1rem auto;
	border: thin #c0c0c0 solid;
	overflow: hidden;
}

.gallery-photo img {
	max-width: 100%;
	margin: 0 auto;
	filter: blur(0);
}

.gallery-photo img[data-src] {
	filter: blur(0.2em);
}

.gallery-description {
	background-color: #eee;
	padding: 0.7rem;
	margin: -4px;
	text-align: center;
	font-weight: 600;
}
