.gallery-container {
	display: flex;
	flex-direction: column;
}

.gallery-photo {
	margin: 1rem auto;
	border: thin #c0c0c0 solid;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.gallery-photo:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transform: scale(0.95);
	opacity: 0.8;
}

.gallery-photo img {
	max-width: 100%;
	margin: 0 auto;
	filter: blur(0);
}

.gallery-photo img[data-src] {
	filter: blur(0.2em);
}

.gallery-description {
	background-color: #eee;
	padding: 0.7rem;
	margin: -4px;
	text-align: center;
}
